div#board-container {
	display: flex;
	justify-content: center;
}

table#cells-table {
	align-self: center;
	padding: 0;
	margin: 0;
}

	table#cells-table, table#cells-table tbody tr, table#cells-table tbody td {
		padding: 0;
		margin: 0;
	}

button#cell-button {
	border: 1px dotted;
	border-radius: 2px;
}
