div#controls-container, div#board-container {
	display: flex;
	justify-content: center;
}

div#controls-container {
	padding: 5px 5px 0 5px;
	margin: 0 0 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px dotted;
	border-color: #05386b;
	border-radius: 5px;
	-webkit-appearance: none;
}

button.control-button {
	background-color: transparent;
	margin: 0 10px 0 0;
	padding: 0;
	border: none;
	text-align: center;
	cursor: pointer;
}

button.control-button, button#cell-button {
	cursor: pointer;
}

.board-disabled {
	pointer-events: none;
}

.board-enabled {
	pointer-events: auto;
}

table#cells-table {
	align-self: center;
	padding: 0;
	margin: 0;
}

	table#cells-table, table#cells-table tbody tr, table#cells-table tbody td {
		padding: 0;
		margin: 0;
	}

button.cell-button {
	border: 1px dotted;
	border-radius: 2px;
	padding: 0;
	margin: 0;
}

button.control-button {
	padding: 0;
	margin: 0;
}